.main-block {
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-block-text {
  text-align: center;
}

.hello {
  font-size: 1.4rem;
  margin: 0;
}

.name {
  font-size: 5rem;
  margin: 0;
  display: block;
  width: 600px;
  min-height: 125px;
  line-height: 125px;
}

.intro-text {
  font-size: 1.4rem;
  margin: 0;
}

.view-work {
  width: 240px;
  height: 60px;
  border: 1px solid black;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 60px;
  margin-bottom: 80px;
  font-size: 1.1rem;
  border-radius: 5px;
  color: black;
  outline: none;
}

.view-work:hover {
  transition: all 0.2s ease-in-out;
  background: black;
  color: white;
  width: 260px;
}

.view-work i {
  color: black;
  transition: 0.2s all ease-in-out;
}

.view-work:hover i {
  color: white;
  transition: 0.2s all ease-in-out;
  margin-left: 20px;
}

.about-block {
  height: auto;
  padding: 100px 0;
  width: 100%;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #183ae2 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-text {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 50px;
  color: white;
}

.about-block-content {
  width: 50%;
}

.selfie {
  width: 250px;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.12);
  transition: 0.3s all ease-in-out;
}

.selfie:hover {
  transition: 0.3s all ease-in-out;
  transform: scale(1.05);
}

.skills-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 100px 0;
}

.skills {
  width: 100%;
}

.skills-info {
  width: 70%;
  margin-bottom: 80px;
  font-size: 1.2rem;
  text-align: center;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.bottom {
  margin-top: 65px;
}

.skill {
  width: 120px;
  height: 120px;
  margin: 0 20px;
  border: 1px solid rgb(44, 128, 255);
  color: rgb(44, 128, 255);
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none;
  cursor: pointer;
}

.skill-pro {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #183ae2 100%);
  width: 120px;
  height: 120px;
  margin: 0 20px;
  border: 1px solid white;
  color: white;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 275px;
  align-items: center;
  width: 300px;
}

.skills-con {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.scroll-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.scroll {
  transform: rotate(-90deg);
  margin-bottom: 20px;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.rectangle {
  height: 60px;
  width: 1px;
  background-color: black;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .view-work {
    width: 220px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 120px;
    font-size: 0.9rem;
  }

  .scroll {
    font-size: 1.1rem;
  }

  .rectangle {
    height: 40px;
    margin-bottom: 10px;
  }

  .name {
    font-size: 2.5rem;
    width: auto;
    min-height: 100px;
    line-height: 100px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    align-items: center;
    width: 100%;
  }

  .skills-con {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .hello,
  .intro-text {
    font-size: 1.2rem;
    width: 80%;
  }

  .main-block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .selfie {
    width: 250px;
    margin-top: 75px;
  }

  .about-block {
    height: auto;
    padding: 40px 0 5px 0;
  }

  .about-text {
    font-size: 1.1rem;
    width: 75%;
    margin-bottom: 75px;
  }

  .about-block-content {
    width: 100%;
  }

  .skills-block {
    height: auto;
    padding: 0;
  }

  .skills-info {
    font-size: 1.1rem;
    width: 75%;
    margin-top: 75px;
    margin-bottom: 75px;
  }

  .top,
  .bottom {
    flex-direction: column;
  }

  .skill {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
    font-size: 1rem;
  }

  .skill-pro {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
    font-size: 1rem;
  }

  .php,
  .sql {
    margin-bottom: 10px;
  }
}

/** tablets **/
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .name {
    font-size: 3.5rem;
    width: auto;
    min-height: 100px;
    line-height: 100px;
  }

  .hello,
  .intro-text {
    font-size: 1.3rem;
    width: 100%;
  }

  .skill {
    width: 110px;
    height: 110px;
    font-size: 1.1rem;
  }

  .skills-info {
    margin-top: 0;
  }

  .skills-block {
    height: auto;
    padding: 100px 0;
  }

  .skills-con {
    width: 80%;
  }
}

@media only screen and (max-height: 420px) {
  .scroll-bottom {
    display: none;
  }

  .view-work {
    margin-bottom: 0;
  }
}
