.projects-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 75px;
}

.project {
  width: 80%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.12);
  padding: 75px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: 0.3s all ease-in-out;
}

.project:hover {
  transform: scale(1.02);
  transition: 0.3s all ease-in-out;
}

.tech {
  width: 50%;
  justify-content: space-between;
  display: flex;
  font-size: 1.1rem;
  margin-bottom: 60px;
}

.tech-skill {
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
}

.p1-rn {
  background-color: rgb(36, 218, 96);
}

.p1-redux {
  background-color: rgb(201, 7, 201);
}

.p1-js {
  background-color: rgb(255, 174, 0);
}

.view-btn {
  color: white;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #183ae2 100%);
  padding: 5px 20px;
  width: 100%;
  position: absolute;
  text-align: center;
  line-height: 50px;
  font-size: 1.1rem;
  bottom: 0;
  box-sizing: border-box;
}

.view-btn i {
  transition: 0.2s all ease-in-out;
}

.view-btn:hover > i {
  margin-left: 20px;
  transition: 0.2s all ease-in-out;
}

.title {
  padding: 10px 75px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #183ae2 100%);
  color: white;
  font-size: 1.3rem;
  border-radius: 5px;
}

#github {
  font-size: 5rem;
  position: absolute;
  top: 20px;
  left: 30px;
  color: rgb(223, 223, 223);
  transition: 0.2s all ease-in-out;
}

#github:hover {
  color: rgb(180, 180, 180);
  transition: 0.2s all ease-in-out;
}

.p-desc {
  text-align: center;
  color: rgb(134, 134, 134);
  margin: 30px 0;
  font-size: 1rem;
  width: 75%;
}

/**mobile devices**/
@media only screen and (max-width: 600px) {
  .projects-container {
    height: auto;
    padding-bottom: 50px;
  }

  .view-btn {
    font-size: 0.9rem;
  }

  .project {
    width: 80%;
    padding: 0 0 30px 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }

  .tech {
    width: auto;
    height: 175px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
  }

  .tech-skill {
    padding: 10px 50px;
    border-radius: 5px;
    color: white;
  }

  .title {
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .projects-container {
    height: 100vh;
    padding-bottom: 50px;
  }

  .project {
    width: 80%;
    padding: 0 0 30px 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }

  .tech {
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
  }

  .tech-skill {
    padding: 7px 30px;
    border-radius: 5px;
    color: white;
  }

  .title {
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 1.1rem;
  }
}
