body {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.icon-text {
  margin-left: 10px;
}

.fadein {
  opacity: 0;
  transform: translate(0, 50px);
}

.animate {
  transition: 0.8s all ease-in-out;
  opacity: 1;
  transform: translate(0, 0);
}
