.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 60px 0 40px 0;
  align-items: center;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #183ae2 100%);
  color: white;
  position: relative;
  margin-top: 100px;
  width: 100%;
}

.footer-icons {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.footer-icons i {
  font-size: 1.7rem;
  cursor: pointer;
  color: white;
}

.arrow-up {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0%;
  left: 50%;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 0, 128);
  text-align: center;
  line-height: 50px;
  border-radius: 1000px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

@media only screen and (max-width: 600px) {
  .footer-icons {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .footer-text {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .footer-icons {
    width: 30%;
  }

  .footer-text {
    font-size: 1rem;
  }
}
